@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&family=Quicksand&display=swap');

html, body, #root{
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
};